<nav *ngIf="authService.isLoggedIn" class="navbar navbar-expand-lg sticky-top">
    <a class="navbar-brand"  href="/closet/list">
        <img src="../../assets/header-hangr.png">
      </a>
    <!-- <a class="navbar-brand"  href="#">Hangr &nbsp; &nbsp;| </a> -->
    <div class="collapse navbar-collapse"  id="navbarText">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  href="/closet/list">Closet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/outfits">Outfits</a>
          </li>
        <li class="nav-item">
          <a class="nav-link"  href="/hamper">Hamper</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <button type="button" class="btn btn-dark" (click)="authService.logout()">Logout</button>
          </li>
      </ul>
    </div>
</nav>
