@import url('https://fonts.googleapis.com/css?family=Lato:300|Roboto');

.navbar {
    background-color: #ededed;
    font-family: 'Karla';
    color: white;
}

.navbar-brand{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.3em;
    text-transform: uppercase;
}

a {
    font-size: 1em;
    color: black;
    cursor: pointer;
}

li > a:hover {
    color: white;
}

button {
    font-family: 'Karla', sans-serif;
}