<div class="main-container">
  <h1>Assemble an Outfit!</h1>

  <div class="card content">
      <button type="button" *ngIf="showFilteredList===true" 
      (click)="back()" 
      class="btn btn-info btn-sm btn-back">
      Back
      </button>
      <!--View for "Select a category"-->
      <div class="row longRow" *ngIf="showDropDown===true">
        <label>
          Category
          <br>
          <mat-form-field>
              <select matNativeControl required (change)="selectChangeHandler($event)">
                  <option>Select a category</option>  
                  <option *ngFor="let category of categories">{{category}} </option>  
            </select>
          </mat-form-field>
        </label>

        <button type="button" 
                (click)="filterByCategory()" 
                class="btn btn-info btn-sm btn-select">
                Select clothing
        </button>

        <button [disabled]="outfitList.length === 0" 
                type="button" 
                (click)="wear()" 
                class="btn btn-outline-dark btn-sm btn-wear">
                Wear
        </button>
    </div>

    <!--Display items from selected category-->
    <div class ="row">
        <div class="card-deck" *ngIf="showFilteredList===true">
          <div class="col-6 col-md-4 col-lg-3 mb-4" *ngFor="let clothingItem of filteredList">
              <div class="card mx-auto text-center" >
                  <img class="card-img-top" src="{{ clothingItem.imageUrl }}" alt="Card image cap">
                  <div class="card-body d-flex flex-column">
                      <h5 class="card-title">{{ clothingItem.name }}</h5>
                      <p class="card-text category-text">{{ clothingItem.category }}</p>
                      <div class="mt-auto">
                        <button type="button" (click)="addToOutfit(clothingItem)" 
                                class="btn btn-info btn-sm btn-add float-right mt-auto">
                          Select
                        </button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>

    <!--Display items added to current outfit-->
    <div class ="row">
        <div class="card-deck" *ngIf="showOutfitList===true">
          <div class="col-6 col-md-4 col-lg-3 mb-4" *ngFor="let clothingItem of outfitList; let i = index">
              <div class="card mx-auto text-center" >
                  <img class="card-img-top" src="{{ clothingItem.imageUrl }}" alt="Card image cap">
                  <div class="card-body">
                      <h5 class="card-title">{{ clothingItem.name }}</h5>
                      <p class="card-text">{{ clothingItem.category }}</p>
                      <div class="mt-auto">
                        <button type="button" (click)="removeFromOutfit(clothingItem, i)" 
                                class="btn btn-info btn-sm btn-remove float-right mt-auto">
                          Remove
                        </button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>