.main-container{
    height: 500px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card.content {
    background-color: transparent;
    padding: 2%;
}

.longRow {
    margin-left: .2%;
  }

.btn-select {
    margin-top: 3.2%;
    margin-left: 2%;
    width: 10%;
    height: .8%;
}

.btn-wear {
    margin-top: 3.2%;
    margin-left: 1%;
    width: 10%;
    height: .8%;
}

.card-deck {
    margin-left: .8%;
}

p.card-text {
    margin: .5%;
}

p.category-text {
  font-weight: bold;
  margin-bottom: 1%;
}