
<div class="container" style="margin-top:10px">
        
    <div class ="row">
        <div class="col-6 col-md-4 col-lg-3 mb-4" *ngFor="let item of clothingItems">
            <div class="card mx-auto text-center" >
                <img class="card-img-top" src="{{ item.imageUrl }}" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text category-text">{{ item.category }}</p>
                    <p class="card-text" *ngFor="let tag of item.tags">{{ tag }}</p>
                    <div class="mt-auto">
                        <button type="button" class="myButton float-right btn btn-info btn-sm btn-edit" (click)="clean(item)">Clean</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>
