@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.addLink {
    text-decoration: none;
    color: white;
}

.addLink:hover {
    text-decoration: underline;
}

.card {
    height: 38vw;
}

.card-deck {
    margin-top: 2em;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: scale-down;
}

.container-btn-add {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.container-btn-add a {
    font-family: Arial, Helvetica, sans-serif;
}

.container-btn-add .btn-add {
    height: 62px;
    width: 62px;
    border:none;
    background-color:black;
    border-radius: 62px;        /*Transform the square into rectangle, sync that value with the width/height*/
    transition: all 300ms;      /*Animation to close the button (circle)*/     box-shadow:2px 2px 5px rgb(49, 51, 49);
    cursor:pointer;
}

.container-btn-add .btn-add .long-text {
    font-size: 72px;
    color:white;
    position: absolute;
    left: 10px;
    top: 22%;
    line-height: 28px;
}

.container-btn-add .btn-add .plus-sym {
    font-size: 70px;
    color:white;
    position: absolute;
    left: 10px;
    top: 20%;
    line-height: 28px;
}

.container-btn-add .btn-add:hover {
    transition: all 400ms cubic-bezier(.62,.1,.5,1);
    width:200px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*     Long text appears slowly with an animation. That code prepare the animation by hidding the text.     The use of display is not there because it does not work well with CSS3 animation. */
.container-btn-add .btn-add .long-text {
    transition: opacity 1000ms; /*Only the text fadein/fadeout is animated*/
    opacity:0;                /*By default we do not display the text, we want the text to fade in*/
    color:white;
    white-space: nowrap;
    font-size: 0;             /*Set to 0 to not have overflow on the right of the browser*/
    width: 0;                 /*Set to 0 to not have overflow on the right of the browser*/
    margin:0;
}

/*     Animation to have a text that appear progressively. We need to play with a delay on the width and the font-size to not have the browser have the text appears on the right side of the browser view port. This has the side-effect of having an horizontal bar. */
.container-btn-add .btn-add:hover .long-text{
    transition: opacity 700ms,
                width 1ms linear 270ms,       /*two thirds of the animation on the container width*/
                font-size 1ms linear 270ms;   /*two thirds of the animation on the container width*/
    opacity:1;
    margin-top: 2px;                          /*Center the position vertically*/
    margin-left: 65px;                        /*Center between the + and the right end side*/
    font-size: 20px;                          /*Text size, cannot be defined initially without moving the scrollbar*/
    width: auto;                              /*Required to be set with a delay (see animation) to not have scrollbar. Delay is to wait container to size up*/
}

/* BEGIN SIDEBAR STYLING */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ededed;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;
  }

  .sidenav-categories {
      padding-left: 15px;
  }

  .sidenav-submit {
      padding-top: 20px;
      text-align: center;
  }

  .sidenav p {
    padding-left: 15px;
    padding-top: 10px;
    text-decoration: none;
    font-size: 19px;
    color: #818181;
    display: block;
    text-align: center;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .tagList {
      padding-left: 15px;
  }

  mat-divider {
      padding-bottom: 15px;
  }
  /* END SIDEBAR STYLING */