<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Contents of the Sidebar -->
<div class="sidenav">

    <!-- Begin Category List -->
    <div class="align-self">
    <p>Categories</p></div>

    <mat-divider></mat-divider>

    <div class="sidenav-categories">
        <form action="">
            <div class="category list" *ngFor="let category of categories">
               <input type="radio" [(ngModel)]="categoryModel" (change)="filterExact('category', category)" 
                    id="{{ category }}" name="itemCategory" value="{{ category }}"> {{ category }}<br>
            </div>
        </form>
    </div>

    <!-- End Category List -->

    <p>Colors</p>

    <mat-divider></mat-divider>

    <div class="colorList">
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let color of filteredColors" [selectable]="selectable"
                (click)="selectColor(color)"> {{ color }}
            </mat-chip>
        </mat-chip-list>
    </div>

    <p>Tags</p>

    <mat-divider></mat-divider>

    <div class="tagList">
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let tag of filteredTags" [selectable]="selectable"
                [removable]="removable" (removed)="remove(tag)"> {{ tag }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>

    <!-- Submit button -->
    <div class="sidenav-submit">
            <button mat-raised-button (click)="removeFilters()">Remove Filters</button>
    </div>

</div>
<!-- Ends contents of the Sidebar -->

<!-- Contents of the Main List -->
<div class="main">

    <!-- Iterates through clothing in cards -->
    <div class ="row">
        <div class="col-6 col-md-4 col-lg-3 mb-4" *ngFor="let item of filteredClothes">
            <div class="card mx-auto text-center" >
                <img class="card-img-top" src="{{ item.imageUrl }}" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text category-text">{{ item.category }}</p>
                    <p class="card-text" *ngFor="let tag of item.tags">{{ tag }}</p>
                    <p class="card-text" >Wears Left: {{ item.wearsLeft }}</p>
                    <div class="mt-auto">
                        <p class="card-text float-left text-muted mt-auto">
                            <mat-chip-list *ngIf="item.wearsLeft === 0">
                                <mat-chip class="dirty-chip" [selectable]="false">
                                    Dirty
                                </mat-chip>
                            </mat-chip-list>
                        </p>
                        <a class="card-text float-right text-muted mt-auto" routerLink="/closet/edit">
                            <button type="button" 
                                    (click)="goToEdit(item)" 
                                    class="myButton btn btn-info btn-sm btn-edit">
                                    Edit
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ends iterating through clothing in cards -->

</div>
<!-- Ends Contents of the Main List -->

<div class="container-btn-add">
  <button type="button" class="btn btn-primary btn-add">
    <span class="plus-sym">+</span>
    <span class="long-text">
      <a routerLink="/closet/upload" class="addLink">
        Add clothing
      </a>
    </span>
  </button>
</div>
