mat-sidenav-container {
    width: 100% !important;
    height: calc(100vh - 64px) !important;
  }
  
  mat-sidenav {
    background-color: red !important;
  }
        
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    height: 4000px;
  }
  
  mat-toolbar {
    height: 64px;
    position: relative;
    z-index: 100;
  }