<h1>Add New Clothing</h1>

<div class="card content">
  <form [formGroup]="clothingForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-5 photo">
        <i class="fa fa-plus-square-o fa-5x" aria-hidden="true"></i>
      </div>
      <div class="col-md">
        <div class="row">
          <label>
            Name:
            <br>
            <input type="text" formControlName="name">
            <div *ngIf="submitted && clothingForm.controls.name.errors" class="error">
              <div *ngIf="clothingForm.controls.name.errors.required">Clothing name is required</div>
            </div>
          </label>
        </div>
        <div class="row">
            <label>
                Category:
                <br>
                <input type="text" formControlName="category">
                <div *ngIf="submitted && clothingForm.controls.category.errors" class="error">
                  <div *ngIf="clothingForm.controls.category.errors.required">Category is required</div>
                </div>
            </label>
        </div>
      </div>
    </div>
    
    <div class="row longRow">
        <label>
            Wears Before Wash:
            <br>
            <input type="text" formControlName="wearsBeforeWash">
            <div *ngIf="submitted && clothingForm.controls.wearsBeforeWash.errors" class="error">
              <div *ngIf="clothingForm.controls.wearsBeforeWash.errors.required">Wears before wash is required</div>
            </div>

          </label>
    </div>
    
    <div class="row longRow">
        <label>
            Colors:
            <br>
            <input type="text" formControlName="colors">
            <div *ngIf="submitted && clothingForm.controls.colors.errors" class="error">
              <div *ngIf="clothingForm.controls.colors.errors.required">Color is required</div>
            </div>
          </label>
    </div>

    <div class="row longRow">
        <label>
            Tags:
            <br>
            <input type="text" formControlName="tags">
          </label>
    </div>

    <div class="row longRow">
      <button type="submit" class="btn btn-info">Submit</button>
    </div>
  </form>

</div>

<p>
    Form Value: {{ clothingForm.value | json }}
</p>


