<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-10 col-md-6">
      <div *ngIf="!authService.isLoggedIn" class="card border-info">
        <div class="card-header">Register</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="../assets/login-logo.png">
            </div>
            <div class="col-md-8">
              <form
                [formGroup]="form"
                ngSubmit="login(form)">
                <input type="text" formControlName="username"  class="form-control mb-2" placeholder="Username" #userName required autofocus>
                <input type="text" formControlName="email"  class="form-control mb-2" placeholder="Email" #userEmail required autofocus>
                <input type="password" formControlName="password" class="form-control mb-2" placeholder="Password"  #userPassword required>
                <button class="myButton btn btn-lg btn-primary btn-block mb-1"
                (click)="authService.register(form)">
                  Register
                </button>
              </form>  
              <div class="text-center">
                  <button class="btn btn-link register">
                    <a routerLink="/login">
                      Existing user? Login
                    </a>
                    </button>
              </div>            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>